{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row text-center">
  <div class="col">
    <h1>{{ title}}</h1>
  </div>
</div>
<br/><br/>
<div>
  <!-- <button id="signout">Sign out</button> -->
  <link><a href="def">Sign out</a></link>
  <link><a href="ftrails">Favorite Trails</a></link>
  <!-- <button id="favtrails">Favorite Trails</button> -->
</div>
<!--Inputs -->
<div class="row">
  <div class="form-group col">
    <label for="sql-text-area">1. Enter the name of a park you want to learn more about!</label>
    <textarea class="form-control" id="sql-text-area" rows="1">
    </textarea>
  </div>
</div>
<div>
    <input type="hidden" name="query1" value="no">
    <input type="checkbox" name="query1" id="q1" value="yes"> Rank parks by number of native species
    <br>
    <input type="hidden" name="query2" value="no">
    <input type="checkbox" name="query2" id="q2" value="yes"> Rank parks by trail popularity 
</div>
<br>
<div>
  <p>2. Create or delete an account</p>
  <input type="hidden" name="delete-user" value="no">
  <input type="checkbox" name="delete-user" id="delete-user" value="yes"> Delete
  <br>
  <label for="create-user">Username</label>
  <textarea class="form-control" id="create-user" rows="1"></textarea>
  <label for="create-pass">Password</label>
  <textarea class="form-control" id="create-pass" rows="1"></textarea>
</div>
<br>
<div>
  <p>3. Add or remove a favorite trail</p>
  <input type="hidden" name="delete-trail" value="no">
  <input type="checkbox" name="delete-trail" id="delete-trail" value="yes"> remove
  <br>
  <label for="add-trail-user">Username</label>
  <textarea class="form-control" id="add-trail-user" rows="1"></textarea>
  <label for="add-trail-pass">Trail Name</label>
  <textarea class="form-control" id="add-trail-name" rows="1"></textarea>
</div>
<br>
<div>
  <p>4. Enter your Username and the Name of your Favorite Trail that you visited!</p>
  <label for="sql-updateFavTrail-username">Username</label>
  <textarea class="form-control" id="sql-updateFavTrail-username" rows="1">
  </textarea>
  <label for="sql-updateFavTrail-trail">TrailName</label>
  <textarea class="form-control" id="sql-updateFavTrail-trail" rows="1">
  </textarea>
</div>
<br>
<div>
  <label for="sql-query-input">5. Execute an SQL Query</label>
  <textarea class="form-control" id="sql-query-input" rows="1">
  </textarea>
</div>
<br>
<div>
  <p>4. Trip Planner</p>
  <label for="sql-procedure-latitude">latitude</label>
  <textarea class="form-control" id="sql-procedure-latitude" rows="1">
  </textarea>
  <label for="sql-procedure-longitude">longitude</label>
  <textarea class="form-control" id="sql-procedure-longitude" rows="1">
  </textarea>
  
  <div class="form-group">
        <label for="sql-procedure-title">Select a distance length</label>
        <select class="select" id="sql-procedure-size" multiple>
          <option value="s">Short</option>
          <option value="m">Medium</option>
          <option value="l">Long</option>
      </select>
  </div>

</div>
<br>
<!--Run Button-->
<div class="row text-center">
  <div class="col">
    <button class="btn btn-primary" id="sendButton">Run</button>
  </div>
</div>
<!--Results-->
<div class="row" style="width: fit-content;">
  <div class="result-table col">
    <div id="canvas-result-table" style="height: 500px "></div>
  </div>
  <div class="result-chart col">
    <div id="canvas-result-plot" style="height: 500px"></div>
  </div>
</div>

{% endblock %}